* {
    margin: 0;
    padding: 0;
}
ol {
    list-style: none;
}
#xxx {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    margin: 0;
    overflow: hidden;
}

.actions {
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
}
.actions svg {
    width: 2em;
    height: 2em;
    margin: 0 12px;
    transition: all 0.3s;
}
.actions svg.active {
    fill: red;
    transform: scale(1.2);
}


.actions.x>#brush {
    display: inline-block;
}

.actions.x>#eraser {
    display: none;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.colors {
    position: fixed;
    top: 60px;
    left: 28px;
}  
.colors > li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px 0;
    transition: all 0.3s;
}
.colors > li.active {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    transform: scale(1.2);
}
.colors >li.red {
    background: red;
}  
.colors >li.green {
    background: green;
}  
.colors >li.blue {
    background: blue;
}  
.sizes {
    position: fixed;
    right: 10px;
    top: 60px;
}
.sizes > li {
    margin: 10px 0;
}
.sizes > li.thin {
    height: 0;
    width: 20px;
    border-bottom: 3px solid black;
}
.sizes > li.thick {
    height: 0;
    width: 20px;
    border-bottom: 10px solid black;
}